.arrow-navigation-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow-navigation-right-container img {
    transition: transform 0.3s ease;
  }
  
  .arrow-navigation-right-container img:hover {
    transform: translateX(5px);
  }
  