.arrow-navigation-right-container,
.arrow-navigation-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow-navigation-right-container img,
  .arrow-navigation-left-container img {
    transition: transform 0.3s ease;
  }
  
  .arrow-navigation-right-container img:hover {
    transform: translateX(5px);
  }

  .arrow-navigation-left-container img:hover {
      transform: translatex(-5px);
  }
  