.title-container {
  width: 100%; 
  text-align: center;
}

.title-text {
  font-family: 'VT323', monospace;
  font-size: 20vh; 
  color: #DEA937; 
  text-shadow: 
    2px 2px 0 #4E3B2B, 
    -1px -1px 0 #CE4A1C,
    1px -1px 0 #CE4A1C, 
    -1px 1px 0 #CE4A1C, 
    1px 1px 0 #CE4A1C; 
}
