.next-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 24px; /* Increase the font size */
  background-color: transparent; /* Make the button background transparent */
  border: none; /* Remove the border */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next-button img {
  width: 50px; /* Adjust the image size if needed */
  margin-right: 8px; /* Space between the image and the text */
}

.next-button:hover {
  opacity: 0.8; /* Add a hover effect */
}
