.next-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 24px; 
  background-color: transparent; 
  border: none; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next-button img {
  width: 50px; 
  margin-right: 8px; 
}

.next-button:hover {
  opacity: 0.8; 
}
