.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  
  .qr-code-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .qr-code-image {
    width: 30vh; /* Adjust size as needed */
    height: 30vh; /* Adjust size as needed */
  }
  