.total-score-container {
  background-color: #F5F5DC;
  font-family: 'VT323', monospace;
  text-align: center;
  padding: 20px;
  }
  
  .total-score-title {
    color: #DEA937; 
  }
  
  .choice-box {
    border-color: #DEA937; 
    margin-bottom: 1rem;
    width: 70%;
    margin-left: 13rem;
  }
  
  .choice-box img {
    max-height: 50px;
  }
  
  .choice-box p {
    margin: 0;
  }
  .arrow-navigation-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }