/* phonevoting.css */

/* Brown background color */
.bg-brown {
  background-color: rgba(77, 59, 43, 255); /* Brown color */
}

/* Container for the time bar */
.time-bar-container {
  position: relative; /* Relative positioning */
  height: 1rem; /* Thinner bar */
  background-color: rgba(118, 106, 91, 1); /* Dark background color */
  border: 2px solid yellow; /* Yellow border */
  border-radius: 0.5rem; /* Adjusted for thinner bar */
  overflow: hidden; /* Hide overflow */
}

/* Time bar style */
.time-bar {
  height: 100%; /* Full height */
  background-color: rgb(154, 27, 27); /* Red color */
  border-radius: 0.5rem; /* Rounded corners */
  transition: width 1s linear; /* Smooth width transition */
}

/* Image button style */
.button-img {
  width: 100%; /* Full width */
  height: auto; /* Auto height */
}

/* Warning for incorrect orientation */
.orientation-warning {
  position: fixed; /* Fixed positioning */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: flex; /* Flexbox layout */
  align-items: center; /* Center align items vertically */
  justify-content: center; /* Center align items horizontally */
  z-index: 9999; /* Ensure it appears above all other content */
  visibility: hidden; /* Hidden by default */
}

/* Make the orientation warning visible */
.orientation-warning.visible {
  visibility: visible; /* Set visibility to visible */
}

/* Style for the image inside the orientation warning */
.orientation-warning img {
  max-width: 80%; /* Max width */
  max-height: 80%; /* Max height */
}

/* Yellow text color */
.text-yellow {
  color: yellow; /* Yellow color */
}

/* Hover effect for background color */
.hover\:bg-yellow-200:hover {
  background-color: yellow; /* Yellow background color on hover */
}
